
@font-face{
  font-family: "Nexa";
  src: url("../src/assets/fonts/NexaLight.otf") format("opentype");
  font-weight: normal;
}

@font-face{
  font-family: "Nexa";
  src: url("../src/assets/fonts/NexaBold.otf") format("opentype");
  font-weight: bold;
}

* {
  font-family: "Nexa";
  font-weight: normal;
}